html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

@tailwind components;

@layer components {
  .my-button-transparent {
    @apply py-2 px-3 border-2 border-gray-300 rounded-md font-semibold hover:bg-gray-100 hover:border-gray-400 transition duration-200 ease-out;
  }

  .my-screen {
    @apply max-w-7xl relative flex flex-wrap px-1 gap-2 py-4 lg:px-6 mx-auto;
  }

  .my-shadow-blue {
    box-shadow: 1px 1px 0 #3b49df;
    border: 1px solid #3b49df;
  }

  .my-shadow-drop {
    box-shadow: 4px 4px 0 #08090a;
  }

  .my-min-height {
    min-height: calc(100vh - 56px);
  }
}
